body {
  font-size: 24px;
  color: #212529;
  background: #171717;
}

main {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.pads {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.pad {
  display: inline-block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  background: #f1f3f5;
  text-align: center;
  border-radius: 5px;
}

.pad-active {
  background-color: #b2f2bb;
}

kbd {
  font-size: 1.6em;
}
